@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: 0.25s;
}

:root{
    /* GREEN THEME */
    --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #000e17;
    --color-bg-2: #001e2d;
    --color-bg-3: #012734;
    --color-bg-4: #003347;
    --color-light: #85a2b2;
    --color-white: hsl(0, 0%, 90%);

    /* PURPLE THEME */
    /* --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #000e17;
    --color-bg-2: #001e2d;
    --color-bg-3: #012734;
    --color-bg-4: #003347;
    --color-light: #85a2b2;
    --color-white: hsl(0, 0%, 90%); */

    --container-width-lg: 88%;
    --container-width-md: 92%;

    --card-radius: 9rem;
}
/* Globals */

.container, .navbar {
    width: var(--container-width-md);
    margin: 0 auto;
    max-width: 2160px;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
}

a:hover {
    color: var(--color-primary);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

html, body {
    background: var(--color-bg-3);
    color: var(--color-light);
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 2rem 0;
}

/* header */

header{ 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color-bg-3);
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

header .navbar .logo img {
    width: 7rem;
}

header .toggle {
    width: 2rem;
    height: 2rem;
    font-size: 1.8rem;
    cursor: pointer;
}

header .navigation {
    transform: scale(0);
    background: var(--color-bg-3);
    top: 12rem;
    left: 15%;
    transition: none;
}

header .navigation.active {
    transform: scale(1);
    position: relative;
    transition: none;
}

header .navigation .nav-item {
    height: 5rem;
    width: 10rem;
    box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.3);
    background-color: var(--color-bg-4)
}

header .navigation .nav-item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1rem 5rem 1rem 3rem; */
    border-top: 1px solid var(--color-bg-2);
}

header .social {
    display: none;
}

/* Main */

main {
    min-height: 100vh;
    padding: 4rem 0;
    overflow-x: hidden;
}

/* HOME */
.home {
    padding: 2rem 0;
}

.home .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .banner .image-container {
    width: 80%;
    height: 15rem;
    margin-bottom: 1rem;
    object-position: 20%;
}

.home .banner .image-container img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    border-top-left-radius: var(--card-radius);
    border-top-right-radius: var(--card-radius);
}

/* ABOUT */
.image-container {
    width: 100%;
    height: 26rem;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* GALLERY */

@media (min-width: 768px) {

    .container, .navbar {
        width: var(--container-width-lg);
    }

    .scrolled {
        background: var(--color-bg-2);
        border-bottom: 0.2rem solid var(--color-bg-3);
        box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.3);
    }
    

    header .navigation {
        transform: scale(1);
        top: 0;
        left: 0;
    }

    header .social {
        display: block;
        /* margin-left: auto; */
    }

    header .navigation {
        margin: 0 auto;
        background: transparent;
    }

    header .social .social-item,
    header .navigation .nav-item
    {
        display: inline-block;
        background: transparent;
    }

    header .navigation .nav-item {
        width: 7rem;
        box-shadow: none;
    }

    header .social .social-item {
        margin-left: .5rem;
    }


    header .toggle {
        transform: scale(0);
    }
    .home .banner {
        flex-direction: row;
    }
}